<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-custom" style="background-color:rgb(223, 45, 28);">  
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='home.png') }}" alt="Inicio" class="navbar-logo">
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto me-5">  
                    <li class="nav-item">
                        <a class="nav-link" href="/clasificar">Clasificar Uno</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/clasificarArchivo">Clasificar Archivo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/reentreno">Reentrenar Modelo</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <img src="{{ url_for('static', filename='banner.jpg') }}" class="img-fluid w-100" alt="Banner">
    <br>
    <br>
    <div class="container mt-4">
        <h1 class="text-left custom-title">Detectando Noticias Falsas en España</h1>
        <h1 class="text-left custom-subtitle">Asegurando información veraz y confiable para todas las personas</h1>
        <br>
        <br>
        <h4 class="text-center-justifie">Esta aplicación utiliza un algoritmo de clasificación basado en Gradient Boosting para detectar noticias falsas en la política. Los usuarios pueden enviar sus propias noticias en formato de texto o como archivos, y el sistema las analiza utilizando un modelo entrenado con datos verificados. La aplicación también permite reentrenar el modelo directamente, incorporando nuevas noticias de entrenamiento para mejorar su precisión con el tiempo. Para los moderadores de redes sociales, esta herramienta es especialmente útil como un primer filtro, ya que les ayuda a identificar rápidamente contenido potencialmente falso antes de realizar una revisión más detallada, optimizando su trabajo y reduciendo la propagación de desinformación.</h4>
        
        <br>
        <br>
        <h2 class="text-left custom-h2">Palabras clave</h2>
        <h2 class="text-left">Noticias Verdaderas:</h2>
        <br>
        <br>
        <div class="row row-cols-2 g-3">
        <div class="col">
            <div class="card">
            <img src="{{ url_for('static', filename='titulo_verdadera.png') }}" class="card-img-top" alt="Imagen 1">
            <div class="card-body">
                <h5 class="card-title">Palabras más comunes en Títulos</h5>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="{{ url_for('static', filename='cuerpo_verdadera.png') }}" class="card-img-top" alt="Imagen 2">
            <div class="card-body">
                <h5 class="card-title">Palabras más comunes en Cuerpos</h5>
            </div>
            </div>
        </div>
        </div>
        <br>
        <br>
        <h2 class="text-left">Noticias Falsas:</h2>
        <br>
        <br>
        <div class="row row-cols-2 g-3">
        <div class="col">
            <div class="card">
            <img src="{{ url_for('static', filename='titulo_falsa.png') }}" class="card-img-top" alt="Imagen 3">
            <div class="card-body">
                <h5 class="card-title">Palabras más comunes en Títulos</h5>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="{{ url_for('static', filename='cuerpo_falsa.png') }}" class="card-img-top" alt="Imagen 4">
            <div class="card-body">
                <h5 class="card-title">Palabras más comunes en Cuerpos</h5>
            </div>
            </div>
        </div>
        </div>

        
    </div>

    <footer class="footer bg-dark text-white text-center py-3">
        <div class="container">
            <p>© 2025 Grupo 9 - Todos los derechos reservados</p>
            <p>Proyecto con fines académicos no asociado a ningún partido político</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
