<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-custom" style="background-color:rgb(223, 45, 28);"> 
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='home.png') }}" alt="Inicio" class="navbar-logo">
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto me-5"> 
                    <li class="nav-item">
                        <a class="nav-link" href="/clasificar">Clasificar Uno</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/clasificarArchivo">Clasificar Archivo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/reentreno">Reentrenar Modelo</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- <p>prediccion</p> -->
    <br>
    
    <div class="container mt-5">
        <div class="row">
            <h1 class="text-center">Clasificador</h1> 
            <br>
            <div class="col-md-4">
                <h1>Instrucciones</h1>
                <p>Por favor, sigue estos pasos para clasificar la noticia:</p>
                <ol class="text-start d-inline-block">
                    <li>Escribe el título de la noticia en el primer campo de texto.</li>
                    <li>Escribe el cuerpo completo de la noticia en el segundo campo.</li>
                    <li>Haz clic en el botón <strong>"Clasificar"</strong> para obtener el resultado.</li>
                </ol>
            </div>

            <div class="col-md-4 text-end">
                <img src="{{ url_for('static', filename='robot.png') }}" alt="Robot Clasificador" class="img-fluid" width="300">
            </div>

            <div class="col-md-4 text-end">
                <br>
            </div>
        </div>
        <h1 class="text-center">Ingrese</h1> 
        <br>
        <form action="/clasificarEnvio" method="POST">
            <h2 class="text-left">ID de la Noticia</h2>
            <div class="mb-3">
                <input type="text" class="form-control" name="id" value="ID" >
            </div>
        
            <h2 class="text-left">Fecha de la Noticia</h2>
            <div class="mb-3">
                <input type="date" class="form-control" name="fecha" required>
            </div>
        
            <h2 class="text-left">Título</h2>
            <div class="mb-3">
                <textarea class="form-control w-100" name="titulo" rows="2" placeholder="Escribe el título aquí..." required></textarea>
            </div>
        
            <h2 class="text-left">Cuerpo de la noticia</h2>
            <div class="mb-3">
                <textarea class="form-control w-100" name="cuerpo" rows="5" placeholder="Escribe el cuerpo aquí..." required></textarea>
            </div>
        
            <div class="text-center">
                <button type="submit" class="btn btn-custom">Clasificar</button>
            </div>
            <br>
        </form>
        {% if results %}
            <h1>Resultados de la Clasificación:</h2>
                <div>
                    <h3>Título:</h3>
                    <p>{{ results.titulo }}</p>
                    <br>
                    <h3>Cuerpo:</h3>
                    <p>{{ results.cuerpo }}</p>
                    <br>
                    <h3>Clasificación:</h3>
                    <p>Se ha clasificado la noticia como: {{ results.clasificacion }}</p>
                    <br>
                    <h3>Probabilidad de verdadera:</h3>
                    <p>{{ results.ProbVerdadera }}</p>
                    <br>
                    <h3>Probabilidad de falsa:</h3>
                    <p>{{ results.ProbFalsa }}</p>
                    <br>
                </div>
                
        {% endif %}
    </div>

    


    <footer class="footer bg-dark text-white text-center py-3">
        <div class="container">
            <p>© 2025 Grupo 9 - Todos los derechos reservados</p>
            <p>Proyecto con fines académicos no asociado a ningún partido político</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>